body {
    background-color: #FFC897; 
    background-image: radial-gradient(circle,#D7BCFD, #FFE0E4, #FFC897);
    font-weight: 400;
    font-family: Trebuchet MS, sans-serif;
    color:#2946BF;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 80px;
        margin-left: 80px;
}

h1 {
    font-size: 45px;
    font-weight: bolder;
    font-family: Didot;
    color:#F47CB9;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    font-family: Trebuchet MS;
    font-style: underline;
    color:#F47CB9;
}



h4 {
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    font-family: Didot;
}

a {
    color:#2946BF; 
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #F47CB9;
}

hr{
    border-color: rgb(237, 113, 113);   
}

h6 {
    text-transform: uppercase;
}
p{
    font-size: 18px;
    color: #291B25;
}

img {
    border-radius: 10%;
  }
    .innovative{
    color:#291B25;
    font-weight: bold;
    background-color:blanchedalmond;
    padding: 50px 20px 50px 20px; /* padding: 50px 20px; */
    margin: 100px 0px;
}

#highlight{
    background:blanchedalmond;
}