body {
    background-color: #F0F0F0; 
    font-weight: 400;
    font-family: 'DotGothic16', sans-serif;
    color:#213555;
    margin:auto;
}

#header{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    
}

.top{

    z-index: 20;
    position: relative;
}
    
.web {
    background-image: url(images/spiderhanging.gif);
    width: 80vw;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    position: absolute;
    top: 0%;
    left: 0%;
}


h1 {
    font-size: 60px;
    font-family: 'Major Mono Display', monospace;
    color:#4F709C;
    margin-top:125px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 120px;
    line-height: 120px;
}

mark{
    background-color:#F0F0F0;
    color:#4F709C;
}

h2 {
    font-size: 40px;
    font-weight: lighter;
    font-family: 'DotGothic16', sans-serif    ;
    font-style: underline;
    color:#4F709C;
    
    margin-right: 80px;
    margin-left: 80px;
}

.anyway{
    font-family: 'Atomic Age', cursive;
    font-family: 'Cutive Mono', monospace;
    margin-left: 405px;
}

.internet{
    font-family: 'Amita', cursive;    
    
}

.obsolete{
    font-family: 'Audiowide', cursive;

}

.blink{ 
    position: relative
    transform: translate(-50%, -50%); 
  } 
     
    h3{ 
     font-size: 40px;  
     color: #E5D283; 
     text-align: center; 
     animation: animate 1.0s linear infinite; 
     margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
      }  
    
   @keyframes animate{ 
     0%{ 
       opacity: 0; 
     } 
     50%{ 
       opacity: 1.0; 
     } 
     100%{ 
       opacity: 0; 
     } 
   } 



h4 {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    margin-right: 80px;
    margin-left: 80px;
}

a { 
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #E5D283;
}
a:link {
    color: #4F709C;
    background-color: transparent;
    text-decoration: none;
  }

h6 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
}
p{
    font-size: 18px;
    color: #4F709C;
    margin-right: 80px;
    margin-left: 80px;
}

