
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kalnia', serif;
*/

h1{
    font-family: 'Kalnia', serif;
    font-weight: 300;
    font-size: 80px;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: thin;
    font-size: 60px;
}

h4{
    font-family: 'Kalnia', serif;
    font-weight: 300;
    font-size: 50px;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
    font-size: 40px;

}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
    font-size: 20px;


}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EEEEE6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 10% 0% 0% 0%;
}

 

  .top-nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    text-align: right;
    display: inline; 
    text-decoration: none;
    line-height: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: thin;
    box-sizing: border-box;
    transition: background-color 0.3s; 
    z-index:90;
    background-color: #3A565F;
  }

  .top-nav a{
    color:#EEEEE6;
    text-decoration: none;
    margin-right: 20px;

  }
  
  .top-nav a:hover{
    color: #0E0A0A;
    text-decoration: none;
  }



body{
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}


.square {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #0E0A0A;
    color: #9F2B00;
    opacity: 4;
    height: 50vh;
    text-align: center;
    font-size: 24px;
    transition: background-color 0.3s, transform 0.3s;
}

.square:hover {
    background-color: #EEEEE6; 
    transform: scale(1.1); 
    cursor: pointer; 
}


main {
    flex-grow: 1; 
  }
.footer {
    display: grid;
        grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #9F2B00;
    position: relative;
    height: 150px;
    margin-top: 20px;
    flex-shrink: 0;
    }


.footer h1{
    font-size: 20px;
}

.footer p{
    font-size: 15px;
}

   .footer-right a {
    display: block; 
    width: 100%; 
    height: 100%;
  }
  
  
  .footer-right { 
          grid-area: 1 / 5 / 2 / 6;
          background-image: url(media/music\ theory\ logo.gif);
          background-size:contain;
          background-repeat: no-repeat;
          background-position: right;
  
         }

    .footer-center { 
        grid-area: 1 / 3 / 2 / 5; 
        position: absolute;
        top: 10%;
        margin: 0;
        
    }

    .footer-left { 
        grid-area: 1 / 1 / 2 / 3; 
        position: absolute;
        top: 10%;
        margin: 0;
        left:10px;
    
    }

a{
    text-decoration: none;
    color:#9F2B00;
}